<div class="category-container">
    <div>
        <div class="header mat-h1">
            {{ name }}
            <button
                mat-icon-button
                color="primary"
                aria-label="Edit Category"
                class="edit-button"
                routerLink="/edit/category"
                [state]="{ _id, name }"
            >
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        <hr class="line" />
    </div>
    <fund
        *ngFor="let fund of funds"
        [_id]="fund._id"
        [categoryId]="_id"
        [name]="fund.name"
        [spentAmount]="0"
        [budgetedAmount]="fund.budgetedAmount"
    >
    </fund>
</div>
