<div class="category-container">
    <div>
        <div class="header mat-h1">
            {{ name }}
            <button
                mat-icon-button
                color="primary"
                aria-label="Edit Category"
                class="edit-button"
                [routerLink]="['edit/category/', _id]"
            >
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        <hr class="line" />
    </div>
    <fund
        *ngFor="let fund of funds"
        [name]="fund.name"
        [spentAmount]="fund.spentAmount"
        [budgetedAmount]="fund.budgetedAmount"
    >
    </fund>
</div>
