@import "variables";

.category-container {
    display: flex;
    flex-direction: column;
    gap: $spacing-small;
}

.label {
    margin: 0;
}

.line {
    background-color: $black;
    border-radius: $border-radius-size;
    border: 0.1rem solid $black;
    margin: 0.2rem 0 0 0;
}
