@import "variables";

.category-container {
    display: flex;
    flex-direction: column;
    gap: $spacing-small;
}

.header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-button {
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.line {
    background-color: $black;
    border-radius: $border-radius-size;
    border: 0.1rem solid $black;
    margin: 0.2rem 0 0 0;
}
