@import "variables";

@mixin shadow {
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

@mixin hoverable-shadow {
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;

    &:hover {
        box-shadow: 0 0.5rem 0.75rem 0 rgba(0, 0, 0, 0.2);
    }
}

@mixin card-sliver {
    display: flex;
    justify-content: space-between;
    background-color: $white;
    padding: $spacing-small;
    border-radius: $border-radius-size;
    @include hoverable-shadow;
}

@mixin vertical-screen-container {
    display: flex;
    flex-direction: column;
    padding: $spacing-medium;
}

@mixin editor {
    .editor-container {
        @include vertical-screen-container;
        gap: $spacing-medium;
    }

    .save-button {
        width: 25%;
        align-self: center;
    }
}
