/* ------------------------------------------------------------------------- */
/*                                  Spacing                                  */
/* ------------------------------------------------------------------------- */

$spacing-small: 1rem;
$spacing-medium: 2rem;
$spacing-large: 4rem;

/* ------------------------------------------------------------------------- */
/*                                   Border                                  */
/* ------------------------------------------------------------------------- */

$border-radius-size: 0.5rem;

/* ------------------------------------------------------------------------- */
/*                                  Viewport                                 */
/* ------------------------------------------------------------------------- */

$tablet: "min-width: 600px";
$desktop: "min-width: 1200px";

/* ------------------------------------------------------------------------- */
/*                                   Colors                                  */
/* ------------------------------------------------------------------------- */

$white: #ffffff;
$black: #000000;

$primary-palette: (
    50: #e4ece4,
    100: #bbcfbc,
    200: #8daf90,
    300: #5f8e63,
    400: #3d7641,
    500: #1b5e20,
    600: #18561c,
    700: #144c18,
    800: #104213,
    900: #08310b,
    A100: #6bff74,
    A200: #38ff45,
    A400: #05ff15,
    A700: #00eb0f,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);

$accent-palette: (
    50: #e7eded,
    100: #c3d1d2,
    200: #9cb2b5,
    300: #749397,
    400: #567c80,
    500: #38656a,
    600: #325d62,
    700: #2b5357,
    800: #24494d,
    900: #17373c,
    A100: #7cefff,
    A200: #49e8ff,
    A400: #16e2ff,
    A700: #00dcfc,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);

$warn-palette: (
    50: #fbeae4,
    100: #f5ccbc,
    200: #efaa8f,
    300: #e88762,
    400: #e36e40,
    500: #de541e,
    600: #da4d1a,
    700: #d54316,
    800: #d13a12,
    900: #c8290a,
    A100: #fff5f3,
    A200: #ffc8c0,
    A400: #ff9b8d,
    A700: #ff8574,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);
