<div class="main-grid-layout">
    <mat-tab-group mat-stretch-tabs class="tabs-layout" color="accent" backgroundColor="accent">
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="mat-display-1 tabs-label">Budget</span>
            </ng-template>
            <div class="budget">
                <category label="Housing" [buckets]="sampleBuckets"></category>
                <category label="Not Housing" [buckets]="sampleBuckets"></category>
                <category label="Also Not Housing" [buckets]="sampleBuckets"></category>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="mat-display-1 tabs-label">Expenses</span>
            </ng-template>
            <expenses [expenses]="sampleExpenses"></expenses>
        </mat-tab>
    </mat-tab-group>
    <router-outlet></router-outlet>
</div>
