@import "variables";

.main-grid-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $spacing-medium;

    @media ($tablet) {
        grid-template-columns: repeat(8, 1fr);
    }

    @media ($desktop) {
        grid-template-columns: repeat(12, 1fr);
    }
}

.budget {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: $spacing-large;
    padding: $spacing-medium;
}
