<div class="editor-container" *ngIf="name != null; else loading">
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [formControl]="name" />
    </mat-form-field>
    <button
        mat-flat-button
        color="primary"
        class="save-button"
        (click)="saveData()"
        [disabled]="!name.valid"
        routerLink=""
    >
        Save
    </button>
</div>

<ng-template #loading>
    <div class="progress-spinner">
        <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
    </div>
</ng-template>
