@import "variables";
@import "mixins";

.bucket-container {
    display: flex;
    justify-content: space-between;
    background-color: $white;
    padding: $spacing-small;
    border-radius: $border-radius-size;
    @include hoverable-shadow;
}

.over-budget {
    color: map-get($warn-palette, 500);
}

.within-budget {
    color: map-get($primary-palette, 500);
}
