<div class="editor-container" [formGroup]="formGroup" *ngIf="formGroup != null; else loading">
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Cost</mat-label>
        <input matInput type="number" formControlName="cost" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="expenseDate" formControlName="date" />
        <mat-datepicker-toggle matSuffix [for]="expenseDate"></mat-datepicker-toggle>
        <mat-datepicker #expenseDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Fund</mat-label>
        <mat-select formControlName="parentIds" [compareWith]="selectComparator">
            <mat-optgroup *ngFor="let category of categories | async" [label]="category.name">
                <mat-option
                    *ngFor="let fund of category.funds"
                    [value]="{ categoryId: category._id, fundId: fund._id }"
                >
                    {{ fund.name }}
                </mat-option>
            </mat-optgroup>
        </mat-select>
    </mat-form-field>
    <button
        mat-flat-button
        color="primary"
        class="save-button"
        (click)="saveData()"
        [disabled]="!formGroup.valid"
        routerLink=""
    >
        Save
    </button>
</div>

<ng-template #loading>
    <div class="progress-spinner">
        <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
    </div>
</ng-template>

